:root{
  --width-open: 230px;
  --width-closed: 65px;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}
.sidebar{
  overflow: hidden;
  position: relative;
  top: 10px;
  left: 10px;
  bottom: 10px;
  width: var(--width-closed);
  border-radius: 16px;
  background-color: #1f2435;
  transition: width 0.3s;
  z-index: 100;
  min-width: var(--width-closed);
  max-width: var(--width-open);
  flex-shrink: 0;
  height: 98%;
} 
.sidebar:hover{
  width: var(--width-open);
}
.sidebarHeader{
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 72px;
  background: rgb(0 0 0 / 5%);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  transition: 0.3s;
  margin-bottom: 16px;
  
}
.sidebar:hover .sidebarHeader{
  width: var(--width-open);
}
.sidebarHeader h1{
  display: flex;
  align-items: center;
  padding: 0 18px;
  height: 72px;
  background: rgb(0 0 0 / 5%);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  transition: 0.3s;
  gap: 12px; 
}
.sidebar:hover .sidebarHeader h1{
  opacity: 1;
}
.avatarImg{
  height: 42px ;
  width: 42px;
  border-radius: 50%;
  object-fit: cover;
}
.appointmentBtns {
  background: #cfcfcf;
  border: none;
  border-radius: 20px;
  padding: 6px 16px;
  color: #333;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.3px;
  cursor: pointer;
}
.avatarIcons,
.menuIcons {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.appointmentBtn {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  font-family: 'Prompt', sans-serif;
  letter-spacing: 1.2px;
  margin-left: 12px;
  white-space: nowrap;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5); 
  
}
.menu {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
   height: 88%; 
}
.menuTop {
  position: relative;
  flex: 1 1 auto;
}

/*กล่องเมนู logout ด้านล่าง */
.menuBottom {
  margin-top: auto;
  padding-bottom: 8px; /* เว้นจากขอบล่างนิดหน่อย */
}


.highligth {
  position: absolute;
  top: 0;
  left: 0;
  height: 56px;
  width: 6px;
  background: #4368e4;
  translate: 0 var(--top);
  transition: 0.3s;
}

.menuItem{
  display: flex;
  gap: 16px;
  align-items: center;
  height: 56px;
  width: var(--width-closed);
  font-size: 16px;
  padding: 0 22px;
  color: #afb3af;
  background: transparent;
  border: 0;
  cursor: pointer;
  opacity: 0.8;
  transition: background 0.3s, width 0.3;
  margin-bottom: 2px;
}

.sidebar:hover .menuItem{
  width: var(--width-open);
}
.menuItem.active{
  color: #f9f9f9;
  background: #2a3048;
  opacity: 1;
}

.menuItem:not(.active):host{
  background: #242940;
  opacity: 0.9;
}

.sidebar:hover .active{
  opacity: 1;
}


.sidebarHeader h1{
  opacity: 0;
  transition: 0.3s;
}

.sidebar:hover .sidebarHeader{
  opacity: 1;
}

.highligth{
  position: absolute;
  top: 0;
  left: 0;
  height: 56px;
  width: 6px;
  background: #4368e4;
  transition: 0.3s;
}

.wrapper{
  display: flex;
}


.heading {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}


.searchSection{
  margin-top: 20px;
}

.searchInput{
  padding: 6px 16px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  width: 300px;
  background-color: #f4f6f8;
  color: #333;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease;
}

.searchInput::placeholder{
  color: #999;
}

.searchInput:focus{
  background-color: white;
  box-shadow: 0 0 0 2px #2176ff;
} 

.searchButton{
  background-color: #079fa0;
  border: none;
  color: white;
  padding: 7px 15px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  transition: background-color 0.2s ease;
  cursor: pointer;
}
.searchButton:hover{
  background-color: #023852;
}
